html
  head
    title= Monitor
  body
    table
      c Messages #{status}
        thead
          tr
            td Type
            td Datum
            td Nachricht
        tbody
          tr
            each val in values.length ? values : ['There are no values']
              tr
                td= val.type
                td #{ moment(1 * val.date).format('HH:MM:SS DD:MM:YYYY') }
                td= val.message
